/* BASIC STYLES HERE */

body {
  font-family: "VT323", monospace;
}

.hero-img {
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/003/520/597/original/abstract-background-with-various-beautiful-shapes-free-video.jpg");
}
.pokemonline-style {
  background-color: white;
}
.pokemonline-style:hover {
  background-color: rgb(186, 186, 186);
}

/* img {
  min-height: 45vh;
  min-width: 45vw;
} */

.poke-list-styles {
  max-height: 75vh;
  list-style: none;
}

/* width */
::-webkit-scrollbar {
  width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

#poke-options {
  max-height: 60vh;
  list-style: none;
}
